img{
    height: 100vh;
    width: 100vw;
    position: static;
}

nav{
    width: 100vw;
    position: fixed;
    color: white;
    background-color: rgba(255, 218, 231, 0.5);
    padding-top: 0.5em;
    font-weight: 300;
    padding-left: 10px;
    font-size: 1.2em;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 10em;
}
a{
    text-decoration: none;
    color: white;
}
