:root{
    --paragraph-font-size:1.5rem;
    --paragraph-font-color:;
    --main-color:;
    --h1-font-size:;
    --h1-font-color:;
    --h2-font-size:;
    --h2-font-color:;
    --container-padding:;
    --color-grey:grey;
}
body{
    margin: 0px;

}

#hero-section > img{
    height: 100vh;
    width: 100vw;
    
}

nav{
    display: block;
    width: 100vw;
    position: fixed;
    color: white;
    background-color: rgba(255, 218, 231, 0.5);
    padding-top: 0.5em;
    font-weight: 300;
    padding-left: 10px;
    font-size: 1.2em;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 10em;
}
a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    font-family: 'Caveat', cursive;
      font-size: 4rem;
      font-weight: 1000;

}
p{
    text-align: center;
    font-family: 'Lato', sans-serif;
      font-size: var(--paragraph-size);
      font-weight: 400;
      line-height: 1.5;
      color:var(--color-grey);
}
#welcome-container{
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#partners{
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    
}
#partners .partners-img {
    display: flex;
    gap: 7;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
#partners img{
    max-height: 14rem;
    max-width: 14rem;
    margin: 2em 6em 2em 6em;
    position: ;
}

#partners img:hover{
    max-width: 15rem;
    max-height: 15rem;
}
