* {
  padding: 0;
  margin: 0;
}
body {
  background-color:#fff;
}

html {
  scroll-behavior: smooth;
}

:root {
  --red: #e20000;
  --white: #ffffff;
}

nav {
  width: 100vw;
  position: sticky;
  color: white;
  background-color: cyan;
  padding-top: 0.5em;
  font-weight: 300;
  padding-left: 10px;
  font-size: 1.2em;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  list-style-type: none;
  justify-content: flex-end;
  margin-right: 10em;
}

/* Carousel */

.carousel--section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.carousel-container {
  position: relative;
  border-radius: 10px;
  padding-top: 1%;
  width: 50%;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.item {
  position: absolute;
  display: none;
  width: 100%;

}

.main {
  display: block;
}

.item > img {
  height: 40rem;
  width: 99.5%;
  transition: all 0.3s ease;
  border: 3px solid rgb(2, 2, 2);
  object-fit: cover;
  border-radius: 30px;
}


.navigation .prev {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  margin-top: 33%;
  left: -5rem;
  font-weight: bolder;
}

.navigation .next {
  right: -5rem;
  position: absolute;
  font-size: 25px;
  font-weight: bolder;
  z-index: 10;
  margin-top: 33%;
}

.navigation .nav-btn {
  background: rgb(236, 222, 222);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgb(34, 32, 32);
}

.navigation .nav-btn:hover {
  background: white;
}

.text--container {
  position: absolute;
  overflow: hidden;
  padding: 0;
}

p {
  border: 2px solid black;
  font-size: 18px;
  font-weight: bold;
  padding: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.p1 {
  background: linear-gradient(to right, #e4e7e4e1, #378b45de);
}
.p2 {
  background: linear-gradient(to right, #e4e7e4e1, #404140de);
}
.p3 {
  background: linear-gradient(to right, #521c0ce1, #252725de);
}
.p4 {
  background: linear-gradient(to right, #107aa3e1, #272727de);
}
.p5 {
  background: linear-gradient(to right, #803605e1, #2f302fde);
}
.p6 {
  background: linear-gradient(to right, #a17d6fe1, #313331de);
}