article{
    width: 75vw;
    height: 70vh;
    margin-bottom: 7rem;
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 2%;
    overflow: auto;
    box-shadow: 5px 4px 5px 5px rgba(0,0,0,0.2);
    /*filter: grayscale(100%);*/
}
article p{
    text-align: left;
    width: 99%;
    color: #2d2d2d;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2em 2em 2em 2em;
    display: block;
}
article h2{
    color: #f8f6f6;
    text-align: center;
}

ul{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap:1em;
    margin-top:2em;
}
h1{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    font-weight: 1000;
    color:  #800000;
}
p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size:1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color:var(--color-grey);
}

a{
    text-decoration: none;
    color: #2d2d2d;
    opacity: 0.5;
    transition: opacity ease 300ms;
}
a:hover{
    opacity: 1;
}

nav{
    width: 60vw;
    height: 30vh;
    margin: 2em auto 2em auto;
}


