:root{
    --paragraph-font-size:1.5rem;
    --paragraph-font-color:;
    --main-color:;
    --h1-font-size:;
    --h1-font-color:;
    --h2-font-size:;
    --h2-font-color:;
    --container-padding:;
    --color-grey:grey;
}
body{
    margin: 0px;
   position: relative;
    
}
#banner{
    width: 100vw;
    height: 70vh;
    position: static;
    display: block;
    overflow: hidden;
    position: relative;

}
#banner div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#banner video{
    position: absolute;
    z-index: -1;
}
#banner h1{
    position: absolute;
    font-size: 7em;
    color: white;
}

#hero-section{
    height: 60vh;
    width: 100vw;
    background-color: white;
    margin: 0rem;
    overflow: hidden;
    position: relative ;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 40%;
}

#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}



/* ---------Navigation bar styles -------------*/

#menu{
    position: relative;
    height: 0;
    display: flex;
    align-items: center;
    background-color: rgb(20, 20, 20);
    opacity: 0;
    transition: all 800ms ease;
    z-index: -1;
}

#menu.is-active{
    opacity: 100;
    height: 100vh;
    z-index: 1;
}

.menu-item{
    color: white;
    font-size: clamp(2rem,5vw,5rem);
    font-family: "Ibarra Real Nova", serif;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem,0.5vw,1rem)0rem;
    transition: opacity 400ms ease;
}

#menu-items{
    margin-left: clamp(4rem,20vw,48rem);
    position: relative;
    z-index: 2;
    padding-top: 5em;
}

#menu-items:hover > .menu-item{
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover{
    opacity: 1;
}

#menu-background-pattern{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
        rgba(2225,225,225,0.1)9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: opacity 800ms ease, background-size 800ms ease;
}

#menu-items:hover ~ #menu-background-pattern{
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}


#menu-background-image{
    height: 100%;
    width: 100%;
    background-image: url(./images/navbar-img.jpg);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.15;
    transition: opacity 800ms ease, background-position 800ms ease, 
                background-size 800ms ease;
}

#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.10;
}

.toggle-btn{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
    display: flex;
    width: 20px;
    height: 20px;

}

.toggle-btn > span {
    width: 30px;
    height: 4px;
    background: white;
    display: flex;
    position: absolute;
    transition: .3s;
    background: white;
}

.toggle-btn > span:nth-child(1){
    top: 20%;
}

.toggle-btn > span:nth-child(2){
    top: 80%;
}

.toggle-btn.is-active span{
    background: white;
}

.toggle-btn.is-active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}

.toggle-btn.is-active span:nth-child(2){
    top: 50%;
    transform: rotate(-45deg);
}

/* ------------------------------------------------- */
h1{
    text-align: center;
    font-family: 'Caveat', cursive;
      font-size: 4rem;
      font-weight: 1000;
    color:  #800000;
}
p{
    text-align: center;
    font-family: 'Lato', sans-serif;
      font-size: var(--paragraph-size);
      font-weight: 400;
      line-height: 1.5;
      color:var(--color-grey);
}
#welcome-container{
    width: 80vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#partners{
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    
}
#partners .partners-img {
    display: flex;
    gap: 7;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
#partners img{
    max-height: 14rem;
    max-width: 14rem;
    margin: 2em 6em 2em 6em;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .3s ease;
    
}

#partners img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

