:root{
    --paragraph-font-size:1.5rem;
    --h1-font-size:4rem;
    --paragraph-font-color:#6D7779;
    --h1-font-color:#034752;
    --paragraph-font-family:'Lato', sans-serif;
    --h1-font-family:'Caveat', cursive;
    --line-height:1.5rem;
    --box-shadow:5px 4px 5px 5px rgba(0,0,0,0.2);
}
body{
    margin: 0px;
   position: relative;
    
}
#banner{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#content-links{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-box{
    width: 16rem;
    height: 22rem;
    position: relative;
    transition: ease 300ms;
}
.link-box:hover{
    transform: scale(1.1);
}

.link-box img{
    height: 100%;
    width: 100%;
    border-radius: 4%;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.link-box h3{
    position: absolute;
    color: var(--paragraph-font-color);
    background: white;
    border-radius: 8%;
    padding: 0.5em;
    font-family: var(--paragraph-font-family);
    font-size: 1.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
#content-boxes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2em;
    margin: 6em auto 1em auto;
    width: 75vw;

}

#banner img{
    height: 100%;
    width: 100%;
    text-align: center;
}

#banner h1{
    position: absolute;
    font-size: 7em;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

/*------carousal-----------*/

#carousal-section{
    height: 60vh;
    width: 100vw;
    background-color: white;
    margin: 0rem;
    overflow: hidden;
    position: relative ;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 40%;
}

#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translate(0%, -50%);
}



/* ---------Navigation bar styles -------------*/

#menu{
    position: relative;
    height: 0;
    display: flex;
    align-items: center;
    background-color: rgb(20, 20, 20);
    opacity: 0;
    transition: all 800ms ease;
    z-index: -1;
}

#menu.is-active{
    opacity: 100;
    height: 100vh;
    z-index: 1;
}

.menu-item{
    color: white;
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem,0.5vw,1rem)0rem;
    transition: opacity 400ms ease;
}

#menu-items{
    margin-left: clamp(4rem,20vw,48rem);
    position: relative;
    z-index: 2;
    padding-top: 2em;
    line-height: 80px;
}

#menu-items:hover > .menu-item{
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover{
    opacity: 1;
}

#menu-background-pattern{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
        rgba(2225,225,225,0.1)9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: opacity 800ms ease, background-size 800ms ease;
}

#menu-items:hover ~ #menu-background-pattern{
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}


#menu-background-image{
    height: 100%;
    width: 100%;
    background-image: url(./images/navbar-img.jpg);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.15;
    transition: opacity 800ms ease, background-position 800ms ease, 
                background-size 800ms ease;
}

#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.10;
}

.toggle-btn{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
    display: flex;
    width: 20px;
    height: 20px;

}

.toggle-btn > span {
    width: 30px;
    height: 4px;
    display: flex;
    position: absolute;
    transition: .3s;
    background: grey;
}

.toggle-btn > span:nth-child(1){
    top: 20%;
}

.toggle-btn > span:nth-child(2){
    top: 80%;
}

.toggle-btn.is-active span{
    background: white;
}

.toggle-btn.is-active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}

.toggle-btn.is-active span:nth-child(2){
    top: 50%;
    transform: rotate(-45deg);
}

/* ------------------------------------------------- */
h1{
    text-align: center;
    font-family: var(--h1-font-family);
      font-size: var(--h1-font-size);
      font-weight: 1000;
    color:  var(--h1-font-color);
}
p{
    text-align: center;
    font-family: var(--paragraph-font-family);
      font-size:var(--paragraph-font-size);
      font-weight: 400;
      line-height: var(--line-height);
      color: var(--paragraph-font-color);
}
#welcome-container{
    width: 80vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#partners{
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    
}
#partners .partners-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
#partners img{
    max-height: 14rem;
    max-width: 14rem;
    margin: 2em 6em 2em 6em;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .3s ease;
    
}

#partners img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


.pageeditor-link {
    margin-top: 100px;
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
      background-color:#ffffff;
      border-radius:6px;
      border:1px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#666666;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ffffff;
  }
  .pageeditor-link:hover {
      background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
      background-color:#f6f6f6;
  }
  .pageeditor-link:active {
      position:relative;
      top:1px;
  }
/*--------footer---------------*/
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #0e0c0c;
    height: auto;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size:1.9rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 1.5;
    font-size: 1rem;
    color: white;
}

.socials {
    list-style:  none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.5rem;
    transition: color .2s ease-in-out;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-google-plus:hover {
    color: #db4a39;
}

.fa-youtube:hover {
    color: #FF0000;
}

.fa-instagram:hover {
    color: #97238e;
}

.footer-bottom {
    background:#000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 1rem;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 500;
}

/*-------------------------------*/
