/* Image gallery */
.gallery--section {
  position: relative;
}

.img-gallery {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 33px;
  text-align: center;
  margin: 0 10%;
}

.gallery-image {
  height:280px;
  width:150px;
  transition: 0.2s ease-in-out;
}

.gallery-image:hover {
  z-index: 50;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  /* flex-direction: column; */
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img {
  width: 90%;
  max-width: 1000px;
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}